@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
*@

<div class="col-sm-6">
    <ul class="nav position-relative">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown position-absolute top-0 end-0">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity?.Name
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="Create"> Добавить документ</a></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"> Регистрация нового пользователя</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Администрирование</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"  method="post">
                    <li>
                        <button type="submit" class="btn btn-light">Выйти</button>
                    </li>
                    </form>
                </ul>
            </li>
        }
        else
        {
        <li class="nav-item dropdown position-absolute top-0 end-0">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Личный кабинет
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Авторизаци</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Администрирование</a></li>
            </ul>
        </li>
        }
    </ul>
    <div class="col-sm"> </div>
    <div class="col-sm"> </div>
    <div class="col-sm">
        @*                 <form class="d-flex" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" name="q" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>*@

    </div>

</div>