@model KnowledgeBase.Models.Document

@{
    ViewData["Title"] = "Новый документ";
}

<h1>Создание нового документа</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <hr>
            <form asp-action="Create" enctype="multipart/form-data" asp-controller="Home">
                @await Html.PartialAsync("DocumentForm")
            </form>
            <div>
                @Html.ActionLink("Отмена", "Index")
            </div>
        </div>
    </div>
</div>












