@{ ViewData["Title"] = "Новый документ"; }
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Создание нового документа</h1>
            @await Html.PartialAsync("DocumentForm")
            @Html.ActionLink("Отмена", "Index")
        </div>
    </div>
</div>
