@{
    ViewData["Title"] = "Редактирование";
}
<h1>Редактирование</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            @await Html.PartialAsync("DocumentForm")
            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Удалить3</a>
        </div>
        <div class="col-md-8 mx-auto">
            @Html.ActionLink("Отмена", "Details", new { id = Model.Id })
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $(".delete-link").click(function () {
                if (!confirm("Вы уверены, что хотите удалить этот файл?")) {
                    return false;
                }
            });
        });
    </script>
}
@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@