@{
    ViewData["Title"] = "Редактирование";
}
<h1>Редактирование</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            @await Html.PartialAsync("DocumentForm")
            <div class="col-md-8 mx-auto">
                @Html.ActionLink("Отмена", "Details", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>
